@font-face {
  font-display: swap;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/ptsans-400.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/ptsans-700.woff2') format('woff2');
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
}

body {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 22px;
  line-height: 26px;
  background-color: #f2f2f2;
  color: #333333;
  margin: 0;
  flex-direction: column;
  height: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-weight: 700;
  line-height: 78px;
}

.navigation-list,
.navigation-user,
.advantages-list,
.more-benefits-list,
.footer-social-list,
.breadcrumbs,
.accomodation-infrastructure-list,
.accomodation-type-list,
.accomodation-price-list,
.accomodation-show-options,
.accomodation-sorting-option-list,
.accomodation-list,
.pagination-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.page-container {
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgb(0, 0, 0, 0.20);
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main-container {
  flex-grow: 1;
}


/* buttons */

.button {
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 4px;
  border: none;
}

.come-here-button {
  background-color: #756157;
  width: 160px;
  padding-top: 8px;
  padding-bottom: 8px;
  display: block;
}

.find-hotel-button {
  background-color: #756157;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  width: 376px;
  padding-top: 8px;
  padding-bottom: 8px;
  display: block;
  margin: 0 auto;
  box-sizing: border-box;
}

.subscribe-button {
  background-color: #82B3D3;
  border-radius: 0px 4px 4px 0px;
  width: 232px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.accomodation-show-button {
  background-color: #82B3D3;
  border-radius: 4px;
  width: 191px;
  padding: 8px 50px;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
}

.accomodation-reset-button {
  background-color: transparent;
  width: 191px;
  padding: 8px 50px;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
}

/* header */

.page-header {
  margin: 0 70px;
  display: flex;
  position: relative;
}

.navigation {
  color: #000000;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
}

.logo {
  width: 140px;
}

.navigation-logo {
  position: absolute;
  top: 0;
  left: 0;
}

.navigation-link {
  display: block;
  padding: 20px 16px;
  color: inherit;
  text-decoration: none;
}

.navigation-link-current {
  text-decoration: underline;
  text-decoration-color: #756257;
  text-underline-offset: 17px;
  text-decoration-thickness: 2px;
  text-underline-position: under;
}

.navigation {
  display: flex;
  margin-left: 48px;
  width: 890px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
}

.navigation-user {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.navigation-user li:last-child {
  margin-left: 20px;
}

.navigation-link-search,
.navigation-link-search-favorite {
  display: block;
  width: 44px;
  height: 64px;
  position: relative;
}

.navigation-link-search a,
.navigation-link-search-favorite a {
  padding: 20px 16px;
}

.navigation-link-search::before {
  content: "";
  position: absolute;
  top: 25px;
  left: 10px;
	width: 20px;
	height: 20px;
  background-image: url(../images/search.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.navigation-link-search-favorite::before {
  content: "";
  position: absolute;
  top: 25px;
  left: 10px;
	width: 20px;
	height: 20px;
  background-image: url(../images/heart.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.favorite-hotels {
  color: #ffffff;
  text-align: center;
  font-size: 10px;
  font-weight: 400;
  line-height: 20px;
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: #7DB54F;
  position: absolute;
  top: 15px;
  left: 21px;
}





/* .navigation-item-search::before {
  content: "";
  position: absolute;
  top: 30px;
  left: 10px;
	width: 20px;
	height: 20px;
	padding: 1px 0px 0px 1px;
  background-image: url(../images/search.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.navigation-item-search-favorite::before {
  content: "";
  position: absolute;
  top: 30px;
  left: 50px;
	width: 20px;
	height: 20px;
	padding: 1px 0px 0px 1px;
  background-image: url(../images/heart.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
} */


/* hero */

.hero {
  display: flex;
}

.hero-banner {
  margin: 0 auto;
  object-fit: fill;
}


.hero-background {
  background-color: #D1D1D1;
  background-image: url(../images/hero/hero-flag-background.jpg);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  width: 1200px;
  height: 485px;
}

/* advantages */

.advantages-list {
  display: flex;
  flex-wrap: wrap;
}

.advantages-item-full-width {
  width: 100%;
  min-height: 385px;
  display: flex;
}

.advantages-item-full-width img {
  object-fit: cover;
}



.advantage-item-container {
  width: 400px;
  padding: 103px 85px;
  position: relative;
}

.advantages-item img {
  width: 800px;
}

.advantages-item {
  width: 400px;
  min-height: 385px;
  padding: 103px 85px;
  padding: 103px 84px;
  box-sizing: border-box;
  position: relative;
}

.advantages-list li:last-child {
  flex-direction: row-reverse;
}

.advantages-wrapper {
  padding: 69px 0px;
}

.advantages-title {
  color: #000000;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 25px;
}

.advantages-description {
  color:  #333333;
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  margin: 0;
}

.advantages-item-title {
  color:  #000000;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 60px;
}

.advantages-item-title::after {
  position: absolute;
  content: "";
  width: 60px;
  height: 2px;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  bottom: 190px;
}

.advantages-item .advantages-item-title::after {
  background: rgba(0, 0, 0, 0.3);
}

.advantages-item-full-width .advantages-item-title::after {
  background: rgba(255, 255, 255, 0.3);
}

.advantages-item-description {
  color: #333333;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  margin: 0;
}

.advantages-item-full-width {
  background-color:#82B3D3;
}

.advantages-item-full-width h3,
.advantages-item-full-width p {
  color: #ffffff;
}

.first-advantages-background-color {
	background-color: rgba(131, 179, 211, 0.12);
}

.second-advantages-background-color {
	background-color: rgba(131, 179, 211, 0.20);
}

/* more-benefits */

.more-benefits-wrapper {
  padding: 64px 0px;
}

.more-benefits-list {
  display: flex;
  flex-wrap: wrap;
}

.more-benefits-item {
  width: 400px;
  min-height: 385px;
  box-sizing: border-box;
  padding: 184px 85px 80px 85px;
  position: relative;
}

.more-benefits-description {
  color: #333333;
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  margin: 0;
}


.more-benefits-title {
  color:  #000000;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}

.more-benefits-item-title {
  color:  #000000;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
  /* margin-top: 104px; */
  margin-bottom: 30px;
}

.more-benefits-item-description {
  color: #333333;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  margin: 0;
}

.find-hotel {
  padding: 96px 304px;
}

.find-hotel-title {
  color: #000000;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;

}

.find-hotel-description {
  color: #333333;
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  margin: 0;
  margin-bottom: 50px;
}

.first-benefits-background-color {
	background-color: rgba(131, 179, 211, 0.12);
}

.more-benefits-item-accomodation .more-benefits-item-title::before {
  content: "";
  position: absolute;
  top: 85px;
  left: 160px;
	width: 75px;
	height: 72px;
  background-image: url(../images/house-icon.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.more-benefits-item-food .more-benefits-item-title::before {
  content: "";
  position: absolute;
  top: 85px;
  left: 160px;
	width: 75px;
	height: 72px;
  background-image: url(../images/burger-icon.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.more-benefits-item-gift .more-benefits-item-title::before {
  content: "";
  position: absolute;
  top: 85px;
  left: 160px;
	width: 75px;
	height: 76px;
  background-image: url(../images/gift-icon.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

/* subscribe */

.subscribe {
  padding: 96px 258px 104px 258px;
}

.subscribe-title {
  color: #000000;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}

.subscribe-description {
  color: #333333;
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  margin: 0;
  margin-bottom: 54px;
}

.subscribe-background-image .subscribe-title,
.subscribe-background-image .subscribe-description {
  color: #ffffff;
}

.subscribe-background-image {
  background-color: #9DB5C4;
  background-image: url(../images/subscribe-background.jpg);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.subscribe-form-input {
  padding: 12px 20px;
  border-radius: 4px 0px 0px 4px;
  width: 452px;
  min-height: 52px;
  box-sizing: border-box;
  border: none;
}

.input-first-background-color {
  background-color: #ffffff;
}

.input-second-background-color {
  background-color: #F2F2F2;
}

.subscribe-form-input::placeholder {
  color: #000000;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.subscribe-form {
  display: flex;
}

.subscribe-form-email {
  margin: 0;
}


/* catalog */

.inner-wrapper {
  margin: 50px 70px 0 70px;
}

.main-inner-title {
  color: #ffffff;
  margin: 0;
  margin-bottom: 8px;
}

.filter-background {
  background-color: #9DB5C4;
  background-image: url(../images/catalog-background.jpg);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 35px 70px 70px 70px;
}

/* breadcrumbs */

.breadcrumbs {
  display: flex;
  margin-bottom: 40px;
}

.breadcrumbs-item a {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  text-decoration: none;
}

/* filter */

.accomodation-filter  {
  display: flex;

}

.filter legend {
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
  margin-bottom: 32px;
}

.filter-option:not(:last-child) {
  margin-bottom: 16px;
}

.filter-group:nth-child(1) {
  max-width: 150px;
}

.filter-group:nth-child(2) {
  max-width: 150px;
  margin-left: 68px;
}

.filter-group:nth-child(3) {
  margin-left: auto;
  width: 288px;
}

.filter-buttons {
  display: flex;
  /* justify-content: flex-end; */
  flex-direction: column;
  margin-left: 74px;
}


.filter fieldset {
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  border: 0;
  margin: 0;
  padding: 0;
}

.min-price-input,
.max-price-input {
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.min-price label,
.max-price label{
  color: #000000;
  text-align: right;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}


/* accomodation output*/

.accomodation-list {
  display: flex;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  border-bottom: 1px solid #E6E6E6;
  padding: 40px 0;
}

.accomodation-type-output {
  display: flex;
}

.accomodation-show-options {
  width: 164px;
  margin-left: 100px;
  display: flex;
}

.accomodation-show-options-item {
  position: relative;
}


.accomodation-show-options li:not(:last-child) {
  margin-right: 8px;
}

.accomodation-show-options a {
  width: 48px;
  height: 48px;
  display: block;

}

.show-accomodation-cards::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 24px;
	height: 20px;
	padding: 14px 12px;
  background-image: url(../images/table-view.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
  border: 2px solid #000000;
}

.show-accomodation-fullinfo::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 24px;
	height: 20px;
	padding: 14px 12px;
  background-image: url(../images/full-view.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
  border: 2px solid #E5E5E5;
}

.show-accomodation-list::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 24px;
	height: 20px;
	padding: 14px 12px;
  background-image: url(../images/list-view.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
  border: 2px solid #E5E5E5;
}

.accomodation-type-output p {
  color: #000000;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-right: auto;
}

.accomodation-type-value {
  color: #000000;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.accomodation-select-list {
  color: #333333;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  width: 292px;
  padding: 14px 20px;
  border-radius: 4px;
  border: 2px solid #E5E5E5;
  background-color: #ffffff;
}

.accomodation-item {
  width: 340px;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 4px;
  border: 1px solid #E6E6E6;
}

.accomodation-features {
  display: flex;
  justify-content: space-between;
}

.accomodation-features p {
  margin: 0;
}

.accomodation-rating {
  display: flex;
  justify-content: space-between;
}

.accomodation-item-buttons {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 16px;
}

.accomodation-title {
  color: #000000;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.accomodation-item a {
  text-decoration: none;
}

.accomodation-item img {
  margin: 0;
  margin-bottom: 16px;
}

.accomodation-item h3 {
  margin: 0;
  margin-bottom: 16px;
}

.accomodation-features {
  margin: 0;
  margin-bottom: 16px;
}

.accomodation-type {
  color: #333333;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}

.accomodation-price {
  color: #333333;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}

.accomodation-description-link,
.accomodation-favorite-link {
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  border-radius: 4px;
  width: 140px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.accomodation-description-link {
  background-color: #756157;
}

.accomodation-favorite-link {
  background-color: #82B3D3;
}

.accomodation-favorite-link-added {
  background-color: #7DB54F;
  border: 1px solid #E6E6E6;
}

.accomodation-rating-value {
  color:#333333;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  border-radius: 4px;
  width: 140px;
  padding-top: 8px;
  padding-bottom: 8px;
  border: 1px solid #e6e6e6;
  background-color: #f2f2f2;
}

.accomodation-rating p {
  margin: 0;
}

/* pagination */

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  padding: 40px 0 60px 0;
  gap: 8px;
}

.pagination-item {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 60px;
  text-transform: uppercase;
  border-radius: 4px;
}

.pagination-item a,
.pagination-divider a{
  min-width: 60px;
  height: 60px;
  display: block;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  padding-left: 3px;
  padding-right: 3px;
}

.pagination-item {
  background-color: #82B3D3;
}

.pagination-divider {
  min-width: 60px;
  height: 60px;
  background-color: #ffffff;
  color: #000000;
  margin-right: 8px;
}

.pagination-divider a {
  text-decoration: none;
  color: inherit;
  line-height: 60px;
}

.pagination-item-current {
  background-color: #f2f2f2;
  color: #000000;
  font-size: 20px;
  font-weight: 700;
  line-height: 60px;
  text-transform: uppercase;
}

.pagination-item-current {
  background-color: #f2f2f2;
  color: #000000;
}

.pagination-item-current a {
  color: inherit;
}

/* footer */
.page-footer {
  margin: 0 70px;
  display: flex;
  /* padding: 40px 0 30px 70px; */
  padding: 40px 0 30px 0;
  position: relative;
}

.footer-contacts {
  margin-left: auto;
  margin-right: auto;

}


.footer-contacts-address-phone {
  color: #000000;
  text-align: center;
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  text-transform: uppercase;
  text-decoration: none;
}


.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 144px;
}


.footer-social-list li {
  width: 48px;
  height: 40px;
}

.footer-social-list a {
  display: block;
  width: 30px;
	height: 20px;
  padding: 9px 10px;
}

.footer-social-item-vk::before {
  content: "";
  position: absolute;
  top: 55px;
  left: 15px;
	width: 30px;
	height: 20px;
  background-image: url(../images/social/vk.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.footer-social-item-telegram::before {
  content: "";
  position: absolute;
  top: 55px;
  left: 55px;
	width: 30px;
	height: 20px;
  background-image: url(../images/social/telegram.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.footer-social-item-youtube::before {
  content: "";
  position: absolute;
  top: 55px;
  left: 95px;
	width: 30px;
	height: 20px;
  background-image: url(../images/social/youtube.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.footer-logo-link {
  display: flex;
  align-items: center;
}

